.container {
  max-width: 1000px;
  background-color: white;
}


#gallery.container h1 {
  text-align: center;
  padding-bottom: 20px;
}

#gallery.container {
  padding-bottom: 80px;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#item1 {
  background-image: url("http://www.machupicchu.org/images/t-index.jpg");
  background-repeat: no-repeat;
  background-position: top-left;
  background-attachment: fixed;
  height: 400px;
  padding-top: 50px;
  text-align: center;
  color: white;
  text-shadow: #000 1px 2px 2px, #111 5px 1px 50px;

}

#item2 {
  background-image: url("http://www.destination360.com/south-america/peru/images/s/machu-picchu.jpg");
  background-repeat: no-repeat;
  background-position: top-left;
  background-attachment: fixed;
  background-size: contain;
  height: 400px;
  text-align: center;
  padding-top: 50px;
  color: white;
  text-shadow: #000 1px 2px 2px, #111 5px 1px 50px;
  height: 400px;
}

#item3 {
  background-image: url("http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2014/9/4/1409826643443/Machu-Picchu-Peru-014.jpg");
  background-repeat: no-repeat;
  background-position: top-right;
  background-attachment: fixed;
  background-size: contain;
  height: 400px;
  padding-top: 50px;
  text-align: center;
  color: white;
  text-shadow: #000 1px 2px 2px, #111 5px 1px 50px;
  height: 400px;
}


.item p {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;

}


img {
  padding: 8px;
  border: 1px solid grey;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}



@media screen and (max-width: 700px) {
  #item2 {
    background-attachment: scroll;
    background-size: cover;
  }

  #item3 {
    background-attachment: scroll;
    background-size: cover;
  }

}
